if profile.bookmarks.length !==0
    h6(class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted")
        span Bookmarks
each bookmark in profile.bookmarks
    ul(class="nav flex-column")
        li(class="nav-item")
            a(class="nav-link",href="https://"+bookmark[1])
                span(data-feather="bookmark")
                span=bookmark[0]