h6(class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted")
    span #{__('Clients')} - #{__('options')}
ul(class="nav flex-column option-menu mb-2")
    li(class="nav-item")
        if currentUrl === "clientNew"
            a(class="nav-link active",href='/client/new')
                i.nav-fas(class="fas fa-user-plus")
                span #{__('New client')}
        else
            a(class="nav-link",href='/client/new')
                i.nav-fas(class="fas fa-user-plus")
                span #{__('New client')}
