ul.nav.flex-column.down
    li.nav-item
        a.nav-link(href="#bugReporter", data-toggle='modal' data-target='#bugReporter' )
            i.nav-fas(class="fas fa-bug ")
            span=__("Bug reporter")
    li.nav-item
        a.nav-link(href="https://karel.be/")
            i.nav-fas(class="fas fa-address-card")
            span=__("About")