ul.nav.flex-column.down
    li.nav-item
        a.nav-link(href="#bugReporter" data-toggle='modal' data-target='#bugReporter' )
            i.nav-fas(class="fas fa-bug " data-toggle="tooltip" data-placement="right" title=__("Bug reporter"))
            span=__("Bug reporter")
    li.nav-item
        a.nav-link(href="http://www.karel.be/" data-toggle="tooltip" data-placement="right" title=__("About"))
            i.nav-fas(class="fas fa-address-card")
            span=__("About")