title invoice-administration
meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
link(rel="stylesheet" href="/stylesheet.css")
link(rel='icon' type='image/png' href='/favicon.ico')
link(rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css")
link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
//link(rel="stylesheet" href="/cookies.css")
script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js")
script(src="https://www.chartjs.org/samples/latest/utils.js")
script(src="https://unpkg.com/feather-icons")
script(src="https://code.jquery.com/jquery-3.4.1.min.js")
script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js")
script(src="https://kit.fontawesome.com/96bf49b15d.js" crossorigin="anonymous")