.row.justify-content-center
    #messages.col-12
        script.
            console.log(sessionFlash);
        each flash in sessionFlash
            script.
                console.log(flash.type+" : "+flash.message);
            div(class="alert alert-"+flash.type+" alert-dismissible fade show" role="alert")=flash.message
                button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                    span(aria-hidden="true") &times;