h6(class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted")
              span Dit document - opties
            ul(class="nav flex-column mb-2")
              li(class="nav-item")
                if contact
                  a(class="nav-link",href='/new/order/' + factuur._id )
                    span(data-feather="plus-circle")
                    span Nieuwe bestelling