h6(class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted")
    span #{__('New item')} - #{__('options')}
ul(class="nav flex-column mb-2")
    li(class="nav-item")
        a(class=(currentUrl==="stockNew")?"nav-link active":"nav-link" ,href='/stock/new/item')
            span(data-feather="plus-circle")
            span #{__('New item')}