.modal.fade(id="setPaid"+invoice._id , tabindex='-1' role='dialog' aria-labelledby='newDocument' aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h5.modal-title=__("Are you sure to set this document to paid?")
                button.close(type='button' onclick="hideModal('"+invoice._id+"','setPaid')" aria-label='Close')
                    span(aria-hidden='true') &times;
            .modal-footer
                button.btn.btn-secondary(type="button" onclick="hideModal('"+invoice._id+"','setPaid')" )=__("Close")
                a.btn.btn-primary( role="button" href="/edit/invoice/paid/"+invoice._id )=__("Set to paid")