.modal.fade(id="setPaid"+invoice._id , tabindex='-1' role='dialog' aria-labelledby='newDocument' aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                if role!=='admin'
                    h5.modal-title=__("Are you sure to set this document to paid?")
                else
                    h5.modal-title Are you sure to switch this document payment?
                button.close(type='button' onclick="hideModal('"+invoice._id+"','setPaid')" aria-label='Close')
                    span(aria-hidden='true') &times;
            .modal-footer
                button.btn.btn-secondary(type="button" onclick="hideModal('"+invoice._id+"','setPaid')" )=__("Close")
                if role !== 'admin'
                    a.btn.btn-primary( role="button" href="/edit/invoice/paid/"+invoice._id )=__("Set to paid")
                else
                    a.btn.btn-primary( role="button" href="/admin/user/invoice/paid/" + invoice.id )=__("Set to paid")