script.
    function displaySelectedMemberState(){
        let idInput = "countryCombobox";
        let idBoxCode = "requestedMsCode";
        let ms = '';
        var myselect=document.getElementById(idInput);
        var lang = ms;
        for (var i=0; i<myselect.options.length; i++){
            if (myselect.options[i].value == lang){
                myselect.options[i].selected = true;
                if(idInput == "countryCombobox"){
                    generateForm(document.getElementById('countryCombobox'));
                }

                idBoxMsCodeElement = document.getElementById(idBoxCode);
                idBoxMsCodeElement.value = ms;
                break;
            }
    }
    }