script.
    function setStatus(id) {
        window.location = "/edit/invoice/paid/" + id;
    }
    function setAgreedStatus(id){
        window.location = "/edit/offer/agreed/"+ id;
    }
    function setVat(id) {
        window.location = "/edit/invoice/setVat/" + id;
    }