script.
    function info() {
        $("#info").toggle();
    };
    function openPass() {
        $("#theme").slideUp();
        $("#lang").slideUp();
        $("#text").slideUp();
        $("#pass").slideDown();
        $("#info").slideUp();
        $("#invoices").slideUp();
        $("#pdf").slideUp();
        $(".optionPass").css('background-color', 'rgba(207, 207, 207, .3)');
        $(".optionTheme").css('background-color', 'rgba(0, 0, 0, 0)');
        $(".optionPdf").css('background-color', 'rgba(0, 0, 0, 0)');
        $(".optionLang").css('background-color', 'rgba(0, 0, 0, 0)');
        $(".optionText").css('background-color', 'rgba(0, 0, 0, 0)');
        $(".optionInvoices").css('background-color', 'rgba(0, 0, 0, 0)');
    };
    function openTheme() {
        $("#theme").slideDown();
        $("#lang").slideUp();
        $("#text").slideUp();
        $("#pass").slideUp();
        $("#info").slideUp();
        $("#invoices").slideUp();
        $("#pdf").slideUp();
        $(".optionTheme").css('background-color', 'rgba(207, 207, 207, .3)');
        $(".optionPass").css('background-color', 'rgba(0, 0, 0, 0)');
        $(".optionPdf").css('background-color', 'rgba(0, 0, 0, 0)');
        $(".optionLang").css('background-color', 'rgba(0, 0, 0, 0)');
        $(".optionText").css('background-color', 'rgba(0, 0, 0, 0)');
        $(".optionInvoices").css('background-color', 'rgba(0, 0, 0, 0)');
    };
    function openLang() {
        $("#pass").slideUp();
        $("#theme").slideUp();
        $("#lang").slideDown();
        $("#text").slideUp();
        $("#info").slideUp();
        $("#invoices").slideUp();
        $("#pdf").slideUp();
        $(".optionLang").css('background-color', 'rgba(207, 207, 207, .3)');
        $(".optionTheme").css('background-color', 'rgba(0, 0, 0, 0)');
        $(".optionPdf").css('background-color', 'rgba(0, 0, 0, 0)');
        $(".optionPass").css('background-color', 'rgba(0, 0, 0, 0)');
        $(".optionText").css('background-color', 'rgba(0, 0, 0, 0)');
        $(".optionInvoices").css('background-color', 'rgba(0, 0, 0, 0)');
    };
    function openText() {
        $("#theme").slideUp();
        $("#lang").slideUp();
        $("#text").slideDown();
        $("#pass").slideUp();
        $("#invoices").slideUp();
        $("#pdf").slideUp();
        $(".optionText").css('background-color', 'rgba(207, 207, 207, .3)');
        $(".optionPass").css('background-color', 'rgba(0, 0, 0, 0)');
        $(".optionLang").css('background-color', 'rgba(0, 0, 0, 0)');
        $(".optionPdf").css('background-color', 'rgba(0, 0, 0, 0)');
        $(".optionTheme").css('background-color', 'rgba(0, 0, 0, 0)');
        $(".optionInvoices").css('background-color', 'rgba(0, 0, 0, 0)');
    };
    function openPdf() {
        $("#theme").slideUp();
        $("#lang").slideUp();
        $("#text").slideUp();
        $("#pass").slideUp();
        $("#invoices").slideUp();
        $("#pdf").slideDown();
        $(".optionPdf").css('background-color', 'rgba(207, 207, 207, .3)');
        $(".optionText").css('background-color', 'rgba(0, 0, 0, 0)');
        $(".optionPass").css('background-color', 'rgba(0, 0, 0, 0)');
        $(".optionLang").css('background-color', 'rgba(0, 0, 0, 0)');
        $(".optionTheme").css('background-color', 'rgba(0, 0, 0, 0)');
        $(".optionInvoices").css('background-color', 'rgba(0, 0, 0, 0)');
    };
    function openInvoices() {
        $("#theme").slideUp();
        $("#lang").slideUp();
        $("#text").slideUp();
        $("#pass").slideUp();
        $("#pdf").slideUp();
        $("#invoices").slideDown();
        $(".optionInvoices").css('background-color', 'rgba(207, 207, 207, .3)');
        $(".optionText").css('background-color', 'rgba(0, 0, 0, 0)');
        $(".optionPass").css('background-color', 'rgba(0, 0, 0, 0)');
        $(".optionLang").css('background-color', 'rgba(0, 0, 0, 0)');
        $(".optionTheme").css('background-color', 'rgba(0, 0, 0, 0)');
        $(".optionPdf").css('background-color', 'rgba(0, 0, 0, 0)');
    };
