//- V1.8
html
    head
        include includes/htmlHead
        script.
            function info(){$("#info").toggle();};
            $(document).ready(function () {
                feather.replace();
            });
body
    include includes/topBar
    div(class="container-fluid")
        div(class ="row")
            nav(class="col-md-2 d-none d-md-block bg-light sidebar")
                div(class="sidebar-sticky")
                    include includes/navFlexCollumn
                    include includes/bookmarks
                    include includes/invoiceOptionMenu
            main(role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4")
                h2(class="pt-3")="Nieuwe "+add+ " toevoegen"
                hr
                form(action='/invoice/new/'+addlink,method='post')
                    div(class="form-row")
                        div(class="form-group col-md-5")
                            div(class="input-group mb-3")
                                span
                                    p(class="lead nextToInput") Voor contact:
                                select(class="custom-select" id="inputGroupSelect03"  name="idc")
                                    each client in clients
                                        option(value=client._id)=client.clientName
                    hr
                    button(type="submit",class="btn btn-outline-"+settings.theme)=add+" maken"
