html
  head
    include includes/htmlHead
    script.
      $(document).ready(function () {
        function toonBerekeningen(){$("#berekeningen").toggle();}
        feather.replace();
      });
  body
    include includes/topBar
    div(class="container-fluid")
      div(class ="row")
        nav(class="col-md-2 d-none d-md-block bg-light sidebar").fixed
          div(class="sidebar-sticky")
            include includes/mainMenu
            include includes/clientOptionMenu
            include includes/downMenu
        main(role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4")
          h2(class="pt-3") #{__('All clients')}
          hr
          include includes/messages
          div(class="table-responsive bigger")
            include includes/tables/clients
    include includes/modals/bugReporter
