include includes/htmlHead
style.
  /* BASIC */
  html {
    background-color: #FFFFFF;
  }
  .btn {
    margin-bottom: 20px;
  }
  #messages{
    margin-bottom:4em;
  }
  body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
  }
  a {
    color: #1f6497;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
  }
  h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    margin: 40px 8px 10px 8px;
    color: #cccccc;
  }
  /* STRUCTURE */
  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    min-height: 95%;
    padding: 20px;
  }
  #formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  #formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
  }
  /* TABS */
  h2.inactive {
    color: #cccccc;
  }
  h2.active {
    color: #1f6497;
    border-bottom: 2px solid #5fbae9;
  }
  /* FORM TYPOGRAPHY*/
  input[type=button],
  input[type=submit],
  input[type=reset] {
    background-color: #1f6497;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(19, 69, 107, 0.4);
    box-shadow: 0 10px 30px 0 rgba(19, 69, 107, 0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  input[type=button]:hover,
  input[type=submit]:hover,
  input[type=reset]:hover {
    background-color: #80a8d3;
  }
  input[type=button]:active,
  input[type=submit]:active,
  input[type=reset]:active {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
  /* ANIMATIONS */
  /* Simple CSS3 Fade-in-down Animation */
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -96%, 0);
      transform: translate3d(0, -96%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  /* Simple CSS3 Fade-in Animation */
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-moz-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .fadeIn {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
  }
  .fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  .fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  .fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }
  .fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
  }
  /* OTHERS */
  *:focus {
    outline: none;
  }
  #icon {
    width: 20%;
    margin-top: -30px;
    margin-bottom: 30px;
  }
  .title{
    margin:40px 0 30px 0;
  }
  .googleLogin{
    margin-left:110px;
    margin-bottom:40px;
  }

    .center {
      margin-top:0px;
      text-align: center;
      display: block;
      width: 100%;
    }
    .spaceLeft {
      margin-left:5px;
    }
    .tabLeft {
      margin-left: 20px;
    }
    .tabRight {
      margin-right: 20px;
    }

    .spaceRight {
      margin-right: 5px;
    }

.wrapper.fadeInDown.container-fluid
  include includes/messages
  #formContent
    h3.title Invoice-administration
    .fadeIn
      .first
        div.fadeIn.fourth(class="g-signin2").googleLogin
          .abcRioButton.abcRioButtonBlue(style='height:50px;width:240px;')
            .abcRioButtonContentWrapper(onclick="register()")
              .abcRioButtonIcon(style='padding:15px')
                .abcRioButtonSvgImageWithFallback.abcRioButtonIconImage.abcRioButtonIconImage18(style='width:18px;height:18px;')
                  svg.abcRioButtonSvg(version='1.1' xmlns='http://www.w3.org/2000/svg' width='18px' height='18px' viewbox='0 0 48 48')
                    g
                      path(fill='#EA4335' d='M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z')
                      path(fill='#4285F4' d='M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z')
                      path(fill='#FBBC05' d='M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z')
                      path(fill='#34A853' d='M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z')
                      path(fill='none' d='M0 0h48v48H0z')
              span.abcRioButtonContents(style='font-size:16px;line-height:48px;')
                span#not_signed_in1lbqwyknjc3g Sign in with Google
                span#connected1lbqwyknjc3g(style='display:none') Signed in with Google
      form(method='get' action='/register')
div(class="panel-footer").center
  span Copyright &copy; by
    a.spaceRight.spaceLeft(href="https://snakehead007.github.io/") snakehead007
  span.spaceRight.spaceLeft our
    a.spaceLeft(href="#" data-toggle="modal" data-target=".bd-example-modal-lg")   privacy policy
.modal.fade.bd-example-modal-lg(tabindex='-1' role='dialog' aria-labelledby='myLargeModalLabel' aria-hidden='true')
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h5.modal-title Privacy Policy for https://account.karel.be/
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        include includes/modals/privacyPolicy



script(src="https://apis.google.com/js/platform.js?onload=renderButton")
script.
  function renderButton(){
    signin2.render('g-signin2');
  }
  function register(){
    window.location.href = '/register';
  }