//- V1.8
html
  head
    include includes/htmlHead
    script.
      function info(){$("#info").toggle();};
      $(document).ready(function () {
        feather.replace();
      });
body
  header
    include includes/topBar

    div(class="container-fluid")
      div(class ="row")
        nav(class="col-md-2 d-none d-md-block bg-light sidebar")
          div(class="sidebar-sticky")
            include includes/navFlexCollumn
            include includes/bookmarks
            include includes/orderOptionMenu
        main(role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4")
          if invoice.invoiceNr
            h2(class="pt-3")=__('Invoice')+" "+invoice.invoiceNr+" ("+client.clientName+")"
          if invoice.offerNr && !invoice.invoiceNr
            h2(class="pt-3")=__('Offer')+" "+invoice.offerNr+" ("+client.clientName+")"
          if invoice.creditNr && !invoice.offerNr && !invoice.invoiceNr
            h2(class="pt-3")=__('Creditnote')+" "+invoice.creditNr+" ("+client.clientName+")"
          hr
          include includes/messages
          div(class="table")
            include includes/forms/edit-invoice
          div(class="table-responsive bigger")
            include includes/tables/orders
