//- V1.8
html
  head
    include includes/htmlHead
    script.
     function info(){$("#info").toggle();};
     $(document).ready(function () {
       feather.replace();
     });
body
  header
    include includes/topBar

    div(class="container-fluid")
      div(class ="row")
        nav(class="col-md-2 d-none d-md-block bg-light sidebar")
          div(class="sidebar-sticky")
            include includes/navFlexCollumn
            include includes/bookmarks
        main(role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4")
          h2(class="pt-3") Paswoord updaten
          if error == 1
            div(class="alert alert-danger col-lg-8 col-md-10 col-sm-12" role="alert") Password is not the same, please try again.
          hr
          form(action='/pass/'+loginHash,method='post')
            div(class="form-row")
              div(class="form-group col-md-5")
                label(for="title") New password
                input(type="password",class="form-control",name="pass", required)
              div(class="col-md-7")
              div(class="form-group col-md-5")
                label(for="title") Repeat password
                input(type="password",class="form-control",name="passRep", required)
            hr
            button(type="submit",class="btn btn-outline-"+settings.oppo) Update password
