//- V1.8
html
  head
    include includes/htmlHead
    script.
      function info(){$("#info").toggle();};
      $(document).ready(function () {
        feather.replace();
      });
      function addMateriaal(){
        $("#addMat").toggle();
        $("#removeMat").hide();
      }
      function removeMateriaal(){
        $("#removeMat").toggle();
        $("#addMat").hide();
      }
body
  header
    include includes/topBar
    div(class="container-fluid")
      div(class ="row")
        nav(class="col-md-2 d-none d-md-block bg-light sidebar")
          div(class="sidebar-sticky")
            include includes/navFlexCollumn
            include includes/stockOptionMenu
        main(role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4")
          h2(class="pt-3") #{__('Stock')}
          div(class="table-responsive bigger")
            include includes/tables/stock
