//- V1.8
html
  head
    include includes/htmlHead
    script.
      function info(){$("#info").toggle();};
      $(document).ready(function () {
        feather.replace();
      });
body
  header
    include includes/topBar
    div(class="container-fluid")
      div(class ="row")
        nav(class="col-md-2 d-none d-md-block bg-light sidebar")
          div(class="sidebar-sticky")
            include includes/navFlexCollumn
            include includes/bookmarks
        main(role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4")
          h2(class="pt-3")="Nieuw logo upload"
          hr
          include includes/messages
          form(ref='uploadForm',id='uploadForm' ,action='/upload/logo/',method='post',encType="multipart/form-data")
            div(class="input-group form-group col-md-5 mr-auto")
              label(for="inputGroupFile04") Choose file for logo
              input(type="file",name="logoFile",class="form-control-file" id="inputGroupFile04")
            div(class="input-group-append col-2")
              button(class="btn-sm btn-outline-"+settings.theme+" form-control", type="submit", id="inputGroupFileAddon04") Upload
