.table-responsive{
    overflow-x: visible !important;
}

body {
    font-size: .875rem;
}
.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

a.add_button span.fa-color-buttons i.fas.fa-plus-square.fa-2x {
    position: relative;
    top: 35px;
}
a.remove_button span.fa-color-buttons i.fas.fa-minus-square {
    position: relative;
    left: 103%;
    top: 27px;
    z-index: 9;
}
.nav-item .dropdown-menu{
    background-color: transparent !important;
}
li.nav-item.dropdown a.nav-link{
    padding-left:10px !important;
    font-style: oblique;
}
.down{
    bottom:0;
    position: fixed ;
}
    /*
     * Sidebar
     */
.fixed {
    position: fixed !important;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
.alert-message{
    opacity: 92%;
    z-index: 9999;
    width:95%;
    position:absolute !important;
    top:-30px;
}

.contents{
    display:contents !important;
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
    padding-top: 133px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
    [role="main"] {
        padding-top: 48px; /* Space for fixed navbar */
    }
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form {
    width: 100%;
    padding: 0;
    margin: 0;
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.headExtend {
    margin-top: -42px;
    margin-left: 95%;
    margin-bottom: 11px;
}

.main {

}

.settingsOption:hover {
    background-color: rgba(207, 207, 207, .4);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

.theme-button{

}

code::before {
    content: "\A"
}

pre {
    margin-right: 30%;
    border-radius: 6px;
    border-color: #1D1D1D;
    border-style: solid;
    border-width: 1px;
    background-color: #FFFFFF;
    padding: 4px 15px 15px 15px;
}

.nextToInput {
    padding-top: 10px;
    padding-right: 20px;
}
a.nav-link span{
    margin-left:23px;
}
i.act-fas{
    margin-right:5px;
    margin-left:5px;
    font-size: 25px;
}
.nav-fas.fas.fa-users {
    left: 2px;
}
.nav-fas.fas.fa-home {
    left: 3px;
}
.nav-fas.fas.fa-file-alt {
    left: 7px;
}
.nav-fas.fas.fa-users {
    left: 2px;
}
.nav-fas.fas.fa-list-ul {
    left: 5px;
}
.nav-fas.fas.fa-cog {
    left: 5px;
}
.nav-fas.fas.fa-bookmark {
    left: 8px;
}
.nav-fas.fas.fa-plus-circle {
    left: 7px;
}
.nav-fas.fas.fa-bug {
    left: 6px;
}
.nav-fas.fas.fa-address-card {
    left: 5px;
}
.nav-fas.fas.fa-user-plus {
    left: 8px;
}
.nav-fas.fas.fa-file-download {
    left: 9px;
}
.nav-fas.fas.fa-eye {
    left: 5px;
}
.nav-fas.fas.fa-book-open {
    left: 4px;
}
.nav-fas.fas.fa-user-edit {
    left: 6px;
}
a.nav-link span{
    display: block;
}
i.nav-fas {
    position: absolute;
    left:5px;
    margin-right: 6px;
    font-size: 20px;
}
i.not-nav-fas{
    margin-right:4px;
    font-size: 14px;
}

.bigger {
    padding-bottom: 55px;
}

.text {
    cursor: text;
}

.longButton {
    width: 100%
}

.badge {
    margin-left: 5%;
}

table tbody tr td a {
    text-decoration: none;
    color: black;
    margin: auto;
}

.table-responsive {
    min-height: 192px;
}

.table {
    margin-bottom: 50px;
}

.table td, .table th {
    vertical-align: middle !important;
}

.edit-link-project {
    float: right;
}

.thisButtonIsALink {
    background: none !important;
    border: none;
    padding: 0 !important;
    color: #007bff;
}
span.no-block{
    display:contents !important;
    margin-left:20px;
}
.thisButtonIsALink:hover,
.edit-link-project:hover {
    color: inherit;
}

.submit-feather {
    margin-right: 7px;
}

.textarea, .pre {
    white-space: pre;
}

.ui-datepicker-title {

}

.cardholder {
    margin-bottom: 6px;
    margin-top: 5px;
}

.fillInTheBlanks {
    min-height: 100%;
}

.smooth-transition {
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}

.nav-link:hover{
    color: #0b5fa5;
}

/*big screen*/
@media only screen and (min-width: 768px) {
    #navbar{
        display:none;
    }
    #navbarButton{
        display:none;
    }
    #navbar-form-small{
        display:none;
    }
    .down {
        bottom: 20px;
        position: fixed;
    }
    #main-brand{
        font-size: 17px;
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
        padding: 6px 0px 6px 14px;
    }
}
.documentHeaderBig {
    display: contents !important;
}
.documentHeaderSmall span{
    padding-left: 8px;
}
.documentHeaderSmall span, .documentHeaderBig span{
    position: sticky;
}
#actionHeaderSmall{
    display: none ;
}
.modal-body .container-fluid .row .nav-link{
    color:black !important;
}

/*small screen*/
@media only screen and (max-width: 767px){
    .navbar-brand{
        box-shadow:none !important;
    }
    .navbar-brand{
        padding-left:25px;
        padding-right:25px;
        box-shadow:none !important;
        background-color: transparent !important;
    }
    .nav-link,.nav-item{
        color: #FFFFFF !important;
    }
    .nav-link.active,.nav-item.active{
        color: #a6e1ec !important;
    }
    .documentHeaderSmall {
        display: contents !important;
        color: #ebf0fa !important;
    }
    .documentHeaderSmall span{
        color: #ebf0fa !important;
        font-style: oblique;
    }
    .documentHeaderBig {
        display:none !important;
    }
    .invoiceStatus{
        display: none !important;
    }
    #actionHeaderSmall{
        padding-left:20px;
        display: table-cell !important;
    }
    #actionHeaderBig{
        display: none;
    }
    .actionBig{
        display:none;
    }
    .actionSmall{
        display: inline !important;
        margin: 1px 1px 1px 15px;
    }
    .pl-4, .px-4{
        padding: 80px 0 0 !important;
    }
    #navbar-form-big{
        display:none;
    }
    #navbar-logout{
        display:none;
    }
    .navbar{
        display:block;
        box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
        background-color: rgba(0, 0, 0, .25);
    }
    li.nav-item a.nav-link svg:first-child{
        margin-left:15px;
        margin-right:7px;
    }
    a.nav-link span {
        margin-left: 43px !important;
    }
    #main-brand{
    }
    i.nav-fas {
        left:12px !important;
    }
}
/*Between screen*/
@media only screen and (min-width:768px) and (max-width: 1167px){
    li.nav-item a.nav-link span{
        display:none
    }
    li.nav-item a.nav-link{
        margin-top:10px;
        margin-bottom:10px;
    }
    #main-brand{
        display:none;
    }
    #off-brand{
        display:block !important;
        width:63px !important;
        padding-left: 10px;
        padding-right: 10px;
    }
    nav.col-md-2.sidebar{
        max-width:56px !important;
    }
    main {
        flex: 0 0 94% !important;
        max-width:94% !important;
    }
    .small-sidebar{
        display:flex !important;
        font-size: 25px;
        padding:0;
        left:-2.8335%;
    }
    .sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1 {
        border: 1px solid grey;
        border-top: 0;
        border-left:0;
        border-right:0;
        opacity: 30.3%;
    }
    .big-sidebar{
        display:none;
    }
    .sidebar-sticky{
        margin-left:-5px;
    }
}

