//- V1.8
html
  head
    include ../includes/htmlHead
    include ../includes/scripts/edit-client
    style.
      span.fa-color-buttons {
      color:#b1b1b1;
      }
      span.fa-color-buttons:hover {
        color:#007bff;
      }
body
    include ../includes/topBar
    div(class="container-fluid")
      div(class ="row")
        nav(class="col-md-2 d-none d-md-block bg-light sidebar").fixed
          div(class="sidebar-sticky")
            include ../includes/mainMenu
            if currentUrl !== "clientNew"
              include ../includes/invoiceOptionMenu
            include ../includes/downMenu
        main(role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4")
          h2(class="pt-3")=(currentUrl==="clientNew")?__('Add client'):__("Edit client")
          hr
          include ../includes/messages
          include ../includes/forms/edit-client
            hr
            button(type="submit",class="btn btn-outline-"+settings.theme)=__('Update')
include ../includes/modals/bugReporter