//- V1.8
html
  head
    title=title
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    link(rel="stylesheet" href="/stylesheet.css")
    scrip(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/core.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js")
    script(src="https://www.chartjs.org/samples/latest/utils.js")
    script(src="https://unpkg.com/feather-icons")
    script.
      function info(){$("#info").toggle();};
      $(document).ready(function () {
        feather.replace();
      });
      function vars(){$("#vars_id").toggle();}
body
  header
    nav(class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow")
      a(class="navbar-brand col-sm-3 col-md-2 mr-0",href="/edit-profile/"+loginHash)=profile.firma
      form(class="form", method="post",action="/zoeken/"+loginHash)
        input(class="form-control form-control-dark w-100" type="text",name="search",placeholder="zoeken" aria-label="zoeken")
        button(type="sumbit",style="display:none")
      ul(class="navbar-nav px-3")
        li(class="nav-item text-nowrap")
          a(class="nav-link" href="#") Sign out

    div(class="container-fluid")
      div(class ="row")
        nav(class="col-md-2 d-none d-md-block bg-light sidebar")
          div(class="sidebar-sticky")
            ul(class="nav flex-column")
              li(class="nav-item")
                a(class="nav-link" href="/index/"+loginHash)
                  span(data-feather="home")
                  span Home
              li(class="nav-item")
                a(class="nav-link" href="/edit-profile/"+loginHash)
                  span(data-feather="user")
                  span Mijn Profiel
              li(class="nav-item")
                a(class="nav-link" href="/facturen/"+loginHash)
                  span(data-feather="file")
                  span Alle facturen
              li(class="nav-item")
                a(class="nav-link" href="/contacten/"+loginHash)
                  span(data-feather="users")
                  span Klanten
              li(class="nav-item")
                a(class="nav-link" href="/mat/"+loginHash)
                  span(data-feather="package")
                  span Materialen
              li(class="nav-item")
                a(class="nav-link active" href="/berekeningen/"+loginHash)
                  span(data-feather="book")
                  span Berekeningen
                  span(data-feather="chevron-right")
                  span(class="sr-only") (current)
                  span Percentage
              li(class="nav-item")
                a(class="nav-link" href="/settings/"+loginHash)
                  span(data-feather="settings")
                  span Settings
            h6(class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted")
              span Bookmarks
            each bookmark in profile.bookmarks
              ul(class="nav flex-column")
                li(class="nav-item")
                    a(class="nav-link",href="https://"+bookmark[1])
                        span(data-feather="bookmark")
                        span=bookmark[0]
        main(role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4")
          h2(class="pt-3") Percentage berekenen
          hr
          div(class="row")
            div(class="col-lg-2 col-md-1 col-lg-0")
            if error == 1
              div(class="alert alert-danger col-lg-8 col-md-10 col-sm-12" role="alert") Vul allebei de velden in
          form(action='/percentage'+"/"+loginHash,method='post')
            div(class="form-row")
              div(class="col-lg-2 col-md-1 col-sm-0")
              div(class="form-group col-lg-3 col-md-4 col-sm-12")
                label(for="title") Bedrag
                input(type="number",class="form-control",name="bedrag",step=".01")
              div(class="col-lg-2 col-md-2 col-sm-12")
              div(class="form-group col-lg-3  col-md-4 col-sm-12")
                label(for="title") Percentage
                input(type="number",class="form-control",name="percent",step=".01")
              div(class="col-lg-2 col-md-1 col-sm-0")
              button(type="submit",class="btn btn-"+settings.oppo) Berekenen
          hr
          div(class="row")
            div(class="col-lg-5 col-md-4 col-lg-0")
            div(class="col-lg-3 col-md-2 col-sm-10")  
              h3=oplossing
